body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

h2 {
    color: #333;
}

label {
    margin-right: 10px;
}

input {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
}

button {
    background-color: #34D399;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #28a745;
}

p {
    font-size: 18px;
    font-weight: bold;
}
